body{
    background:#D9BCFF;
    color:#C5CFED;
    width:100%;
    font-family:sans-serif;
    margin:0 auto;
}
.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#82659D;
    color:#E5D9F2;
}

